@page "/documentdetails"
@page "/documentdetails/{DocumentID}"

    <MudPaper Square="true" Class="pa-4 d-flex flex-grow-1">

        <MudContainer Class="align-self-stretch" Style="text-align: left">
            <MudBreadcrumbs Items="@_items" Separator="></MudBreadcrumbs>
        </MudContainer>
        
        <MudContainer Style="text-align: right; padding-right: unset; margin-right: 15px">
            <MudButton @onclick="InsertDocument" StartIcon="@Icons.Material.Filled.Create" Variant="Variant.Filled" Color="Color.Success">CREATE</MudButton>      
            <MudToolTipIconButtonEx
                Icon="@Icons.Filled.Login"
                Text="Incoming"/>       
            <MudToolTipIconButtonEx
                Icon="@Icons.Filled.Logout"
                Text="Outgoing"/>               
        </MudContainer>
        
    </MudPaper>
    
    <MudTable Class="mud-fab-layout-content" @ref="_documentTable" Items="@DocumentsList" Dense="@dense" Hover="@hover" Filter="new Func<DocumentsListItem, bool>(Filter)" 
              @bind-SelectedItem="_selectedItem">
        <ToolBarContent>
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
        </ToolBarContent>

        <HeaderContent>
            <MudTh>DocumentNumber</MudTh>
            <MudTh>Client</MudTh>
            <MudTh>Employee</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        
        <RowTemplate>
            <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
            <MudTd DataLabel="Client">@context.Client</MudTd>
            <MudTd DataLabel="Employee">@context.Employee</MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    </div>



@code {
    
[Parameter] 
public int DocumentID { get; set; }

}
