@page "/documentdetails/{DocumentID}"
@using RepairEquipment.Client.Services.Interfaces
@inject IDocumentDetailsService _data
@inject IEquipmentService _equipment
@inject IUtilsService _utils
@inject IDialogService _dialogService
@inject ISnackbar Snackbar

    <MudPaper Square="true" Class="pa-4 d-flex flex-grow-1">

        <MudContainer Class="align-self-stretch" Style="text-align: left">
            <MudBreadcrumbs Items="@_items" Separator=">"></MudBreadcrumbs>
        </MudContainer>
        
        <MudContainer Style="text-align: right; padding-right: unset; margin-right: 15px">

            @* Сreate *@
            <MudButton @onclick="InsertDocumentDetails" StartIcon="@Icons.Material.Filled.Create" Variant="Variant.Filled" Color="Color.Success">CREATE</MudButton>      
            
            @* BackToDocument *@
            <MudToolTipIconButtonEx
                Icon="@Icons.Filled.KeyboardReturn"
                Text="Back"
                Href="/"/>    
                
        </MudContainer>
        
    </MudPaper>
    
    <MudTable Class="mud-fab-layout-content" Items="@DocumentDetails" Dense="@dense" Hover="@hover" Filter="new Func<DocumentDetailRecord, bool>(Filter)">
        <ToolBarContent>
            <MudTextField @bind-Value="searchString" Immediate="true" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
        </ToolBarContent>

        <HeaderContent>
            <MudTh>DocumentNumber</MudTh>
            <MudTh>DocumentDateOut</MudTh>
            <MudTh>DocumentDateIn</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>Sum</MudTh>
            <MudTh>TotalSum</MudTh>
            <MudTh>Equipment</MudTh>           
            <MudTh></MudTh>
        </HeaderContent>
        
        <RowTemplate>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="DocumentDateOut">@context.DocumentDateOut.Value.ToShortDateString()</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="DocumentDateIn">@context.DocumentDateIn.Value.ToShortDateString()</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="Sum">@context.Sum</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="TotalSum">@context.TotalSum</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocumentDetails(@context.ID))" DataLabel="Equipment">@_utils.GetEquipmentNameById(@context.EquipmentID)</MudTd>            
            <MudTd Style="text-align: right">
                
            <MudIconButton
                Class="hoverable-item top-0 right-0 mt-3 mr-4"
                Color="Color.Error"
                Variant="Variant.Filled"
                Icon="@Icons.Rounded.Delete"/>   
                    
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>    

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    </div>



@code {
    private List<EquipmentRecord>? EquipmentList;
    private DocumentDetailRecord? _selectedItem;
    private string searchString = "";
    private bool hover = true;
    private bool dense = false;

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Documents", href: "/"),
        new BreadcrumbItem("DocumentDetails", href: null, disabled: true)
    };

    public IEnumerable<DocumentDetailRecord>? DocumentDetails { get; set; }

    [Parameter]
    public string? DocumentID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetDocumentsDetailsList();
        await GetEquipmentList();
    }
    
    private async Task GetDocumentsDetailsList() => DocumentDetails = await _data.GetDocumentDetailsAsync(Convert.ToInt32(DocumentID));

    private async Task GetEquipmentList() => EquipmentList = await _equipment.GetEquipmentListAsync().ConfigureAwait(false);

    private async Task InsertDocumentDetails()
    {
        var parameters = new DialogParameters();
        parameters.Add("DocumentDetails", new DocumentDetailRecord());
        parameters.Add("DocumentID", DocumentID);
        parameters.Add("EquipmentList", EquipmentList);
        var dialog = _dialogService.Show<DocumentsDetailsDialog>("Create document details", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var document = result.Data as DocumentDetailRecord;

            await _data.InsertDocumentDetailAsync(document);

            Snackbar.Add("Document details successfully added");
            await GetDocumentsDetailsList();
        }
    }
    
    private async Task UpdateDocumentDetails(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("DocumentDetails", _selectedItem);     
        parameters.Add("DocumentID", DocumentID);
        parameters.Add("EquipmentList", EquipmentList);
        var dialog = _dialogService.Show<DocumentsDetailsDialog>("Edit document details", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            DocumentDetailRecord? details = DocumentDetails.Where(x => x.ID == id).FirstOrDefault();
            await _data.UpdateDocumentDetailAsync(details);
            Snackbar.Add("Document details successfully updated");
            await GetDocumentsDetailsList();
        }
    }
    
    private bool Filter(DocumentDetailRecord document) 
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (document.DocumentNumber.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.DocumentDateOut.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.DocumentDateIn.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.Quantity.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.Sum.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.TotalSum.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (_utils.GetEquipmentNameById(document.EquipmentID).Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        return false;
    }
    
}
