@page "/employees"
@using RepairEquipment.Client.DbAccess
@using RepairEquipment.Client.Services.Interfaces
@using RepairEquipment.Models
@using RepairEquipment.Shared.Models
@using RepairEquipment.Client.Services
@inject IEmployeeService _data
@inject IConfiguration _config

@if (Employees == null)
{
    <p><em>Loading ... </em></p>
}
else
{
    <div class="page-title">
        <h1>All employees</h1>
        <button class="button-add" role="button">CREATE</button>
        <EditForm Model="@newEmployee" OnValidSubmit="@InsertEmployee">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" @bind-Value="@newEmployee.Name"/>
            <InputText id="surname" @bind-Value="@newEmployee.Surname"/>
            <InputText id="code" @bind-Value="@newEmployee.Code"/>
            <InputText id="personalCode" @bind-Value="@newEmployee.PersonalCode"/>
            <InputText id="phone" @bind-Value="@newEmployee.Phone"/>
            <InputText id="email" @bind-Value="@newEmployee.Email"/>
            <InputText id="address" @bind-Value="@newEmployee.Address"/>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>

    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Kods</th>
                <th>Personālāis kods</th>
                <th>Talrunis</th>
                <th>E-pasts</th>
                <th>Adrese</th>
                <th>Darbības</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Employees)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Surname</td>
                    <td>@employee.Code</td>
                    <td>@employee.PersonalCode</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                </tr>
            }
    </tbody>
    </table>
}

@code {
    private List<Employee>? Employees;

    private Employee newEmployee = new Employee();


    protected override async Task OnInitializedAsync()
    {
        Employees = await _data.GetEmployeesList();
        StateHasChanged();
    }

    private async Task InsertEmployee()
    {
        Employee emp = new Employee
        {
            Name = newEmployee.Name,
            Surname = newEmployee.Surname,
            Code = newEmployee.Code,
            PersonalCode = newEmployee.PersonalCode,
            Phone = newEmployee.Phone,
            Email = newEmployee.Email,
            Address = newEmployee.Address,
        };

        await _data.InsertEmployeeAsync(emp);

        Employees.Add(emp);
        
        newEmployee = new Employee();
       
    }

}