@page "/"
@using Dapper
@using RepairEquipment.Client.DbAccess
@using RepairEquipment.Client.Services.Interfaces
@using RepairEquipment.Shared.Models
@using RepairEquipment.Client.Services
@inject IDocumentService _data
@inject IDialogService _dialogService
@inject IEmployeeService _employee
@inject IClientService _client
@inject ISnackbar Snackbar

@if (Documents == null)
{
    <p><em>Loading ... </em></p>
}
else
{
    <MudPaper Square="true" Style="text-align: left" Class="pa-4 d-flex flex-grow-1">
        <MudText Typo="Typo.h6">Documents</MudText>
        <MudSpacer />
        <MudButton @onclick="InsertDocument" StartIcon="@Icons.Material.Filled.Create" Variant="Variant.Filled" Color="Color.Success">CREATE</MudButton>
        <MudButton @onclick="@(()=>DeleteDocument(_selectedItem.Id))" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error">DELETE</MudButton>
    </MudPaper>

    <MudTable Class="mud-fab-layout-content" @ref="_documentTable" Items="@Documents" Dense="@dense" Hover="@hover" Filter="new Func<DocumentRecord, bool>(Filter)" @bind-SelectedItem="_selectedItem">
        <ToolBarContent>
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
        </ToolBarContent>

        <HeaderContent>
            <MudTh>DocumentNumber</MudTh>
            <MudTh>Client</MudTh>
            <MudTh>Employee</MudTh>
            <MudTh></MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd @ondblclick="@(()=>UpdateDocument(@context.Id))" DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocument(@context.Id))" DataLabel="Client">@context.ClientId</MudTd>
            <MudTd @ondblclick="@(()=>UpdateDocument(@context.Id))" DataLabel="Employee">@(()=>GetEmployee(@context.EmployeeId))</MudTd>
            <MudTd>
                <MudLink>details</MudLink>
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    </div>


}


@code {

    MudTable<DocumentRecord>? _documentTable;
    private DocumentRecord? _selectedItem;
    private List<DocumentRecord>? Documents;
    private List<EmployeeRecord>? Employees;
    private List<ClientRecord>? Clients;
    private DocumentRecord Document = new DocumentRecord();
    private string searchString = "";
    private bool hover = true;
    private bool dense = false;

    protected override async Task OnInitializedAsync()
    {
        await GetDocuments();
        await GetEmployees();
        await GetClients();
    }

    private async Task GetDocuments() {
        Documents = await _data.GetDocumentsListAsync();
    }

    private async Task GetEmployees() {
        Employees = await _employee.GetEmployeesListAsync(); 
    }

    private async Task GetClients()
    {
        Clients = await _client.GetClientsListAsync();
    }

    private Task GetEmployee(int? id)
    {
        return _employee.GetEmployeeNameAsync(id);
    }

    private async Task InsertDocument()
    {

        var parameters = new DialogParameters();
        parameters.Add("Document", new DocumentRecord());
        parameters.Add("Employees", Employees);
        parameters.Add("Clients", Clients);
        var dialog = _dialogService.Show<DocumentDialog>("Create Document", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {

            DocumentRecord? document = result.Data as DocumentRecord;

            await _data.InsertDocumentAsync(document);

            Documents.Add(document);

            Document = new DocumentRecord();                
            Snackbar.Add("Document successfully added");
            await GetDocuments();
        }
    }

    private async Task UpdateDocument(int id)
    {
        var parameters = new DialogParameters { ["Document"] = _selectedItem };
        var dialog = _dialogService.Show<DocumentDialog>("Edit Document", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            DocumentRecord document = Documents.Where(x => x.Id == id).FirstOrDefault();
            await _data.UpdateDocumentAsync(document);
            Snackbar.Add($"#{document.Id} Document successfully updated");
            await GetDocuments();
        }

    }

    private async Task DeleteDocument(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this record? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = _dialogService.Show<DeleteConfirmation>("Delete", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled) {
            DocumentRecord? document = Documents.Where(x => x.Id == id).FirstOrDefault();
            await _data.DeleteDocumentAsync(document);
            Snackbar.Add($"#{document.Id} Document successfully deleted");
            await GetDocuments();
        }
    }

    private bool Filter(DocumentRecord document)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (Convert.ToString(document.Id).Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.DocumentNumber.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.Client.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (document.Employee.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        return false;
    }

}